:root
{
    --FooterColor: rgb(235, 235, 235);
    --FooterTextColor: rgb(40, 40, 40);
}

footer
{
    margin: 0;
    padding: 0;
    
    bottom: 0;
    left: 0;
    right: 0;
    
    background-color: var(--FooterColor);
}

footer::after
{
    content: "";
    display: table;
    clear: both;
}

footer > div
{
    width: 80%;
    margin: 0 auto;
    padding: auto;
}

footer h6
{
    color: var(--FooterTextColor);
}