@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

:root
{
    --BackgroundColor: rgb(255, 255, 255);
    --ContentYPosition: 100px;

    background-color: var(--BackgroundColor);
}

body
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;

    width: 80%;
    margin: var(--ContentYPosition) auto 0 auto;
    padding: 0;
}

.PageTitle
{
    margin: 20px 0;
    padding: 0;
    text-align: center;
    font-weight: 300;
}