:root
{
    --HeaderColor: rgb(50, 50, 50);
    --HeaderYMargin: 10px;

    --BorderRadius: 10px;
    --NavigationButtonColor: rgb(30, 30, 30);
    --TextColor: rgb(190, 190, 190);
    --TextColorHover: #ffffff;
    --NavListSeparation: 40px;
    --NavigationButtonAnimationSpeed: 200ms;

    --SubMenuWidth: 200px;
    --SubMenuAnimationSpeed: 200ms;
    --SubButtonColor: rgb(220, 220, 220);
    --SubButtonTextColor: rgb(20,20,20);
    --SubButtonAnimationSpeed: 150ms;
}

header
{
    background-color: var(--HeaderColor);
    border-radius: var(--BorderRadius);

    position: fixed;

    min-width: 850px;
    width: 50%;
    height: 60px;
    top: 0;
    right: 0;
    left: 0;

    margin: var(--HeaderYMargin) auto;
    padding: 0 5%;

    filter: drop-shadow(0 15px 10px #000000);

    z-index: 100;
}

nav
{
    float: right;
}

a
{
    text-decoration: none;
}

button
{
    border: transparent;
    outline: 0;
}

.Logo
{
    float: left;
    width: 50px;
    image-rendering: pixelated;

    margin: 5px 0;
}

.NavigationButton
{
    min-width: 100px;
    height: 60px;
    margin: 0;

    background: linear-gradient(180deg, transparent 50%, var(--NavigationButtonColor) 50%);
    background-size: 100% 200%;

    color: var(--TextColor);
    
    transition: var(--NavigationButtonAnimationSpeed) ease-in-out;
}

.NavigationButton.SubButtonParent
{
    margin: 0;
}

.NavigationButton:hover, .NavigationButtonContainer:hover .SubButtonParent
{
    background-position-y: -100%;
    color: var(--TextColorHover);
}

.NavigationButtonContainer
{
    position: relative;

    min-width: 100px;
    height: 60px;
    margin-left: 50px;
}

.SubButtonsContainer
{
    background-color: var(--HeaderColor);

    width: var(--SubMenuWidth);
    padding: 10px 0;

    position: absolute;
    left: 0;

    visibility: collapse;

    border-bottom-left-radius: var(--BorderRadius);
    border-bottom-right-radius: var(--BorderRadius);

    background: linear-gradient(180deg, var(--HeaderColor) 50%, var(--NavigationButtonColor) 50%);
    background-size: 100% 200%;
}

.NavigationButtonContainer:hover .SubButtonsContainer
{
    transition: background-position-y var(--SubMenuAnimationSpeed) ease-in-out;
    transition-delay: var(--NavigationButtonAnimationSpeed);

    visibility: visible;
    background-position-y: -100%;
}

.SubButton
{
    display: list-item;

    width: 100%;
    height: 40px;

    background: linear-gradient(90deg, transparent 50%, var(--SubButtonColor) 50%);
    background-size: 200% 100%;

    text-align: left;
    padding: 0 10px;
    color: var(--TextColor);

    transition: var(--SubButtonAnimationSpeed) ease-in-out;
}

.SubButton:hover
{
    background-position-x: -100%;
    color: var(--SubButtonTextColor);
}