:root
{
    --HorizontalLineColor: rgb(150, 150, 150);
}

.NewsContainer::before
{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--HorizontalLineColor);
}

.NewsContainer
{
    position: relative;
    margin: 0;
    padding: 0;
}

.NewsContainer h1
{
    font-style: normal;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.NewsHeaderContainer
{
    display: inline-block;
    width: 100%;
    padding: 20px 10px 0px 10px;
}

.NewsContentContainer
{
    display: inline-block;
    width: 100%;
    padding: 10px;
}

.NewsTextContainer
{
    width: 50%;
    float: left;
}

.NewsImageContainer
{
    width: 50%;
    float: right;
}